@font-face {
  font-family: 'Gotham_SSm_5r';
  src: local("?"), url("https://s3-us-west-1.amazonaws.com/neverblank/fonts/gmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'webfont';
  src: url("/assets/caecilialtstd-roman.eot") format("eot");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Gotham_SSm_3r';
  src: url("https://s3-us-west-1.amazonaws.com/neverblank/fonts/glight.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

.signup-form h2 {
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
}

.navlink a{
  color: black;
}

.home-page  {
  background: white;
}

a:hover,
a:focus {
  color: #2dbe60;
  transition: .1s color ease-in-out;
  text-decoration: none;
}

.jumbotron {
  margin-top: 50px;
  position: relative;
  left: -40px;
  top: 50px;
  background-color:transparent;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
}

.jumbotron .rotator {
  position: relative;
  width: 500px;
  left: -60px;
  font-size: 60px;
  color: black;
  font-weight: bold;
}

.jumbotron .subtext {
  position: relative;
  top: 125px;
  width: 450px;
  font-family: 'webfont';
  font-weight: normal;
  margin-top: 25px;
  font-size: 18px;
  line-height: 28px;
}
.divider  {
  position: relative;
  left: -10px;
  margin-top: 50px;
  width: 1px;
  height: 300px;
  background-color: #f3f3f3;
}
.navbar {
  background-color:white;
  height: 80px;
  padding-top: 2%;
  padding-bottom: 1%;
  height: 100px;
}

li  {
  list-style: none;
}

.form-control  {
  background: #eef2f3;
  height: 45px;
}

.logo {
  height: 35px;
}

.splash-row {
  padding-top: 80px;
}

.signup-form  {
  position: relative;
  margin-left: 20px;
  width: 360px;
}

.or-row {
  display: flex;
  align-items: center;
  margin: 22px 0; 
}

.or-line {
  flex: 1 1;
  height: 1px;
  background-color: #f3f3f3; 
}

.or-text {
  color: #b4b4b4;
  margin: 0 8px;
  font-family: "Gotham_SSm_3r", Helvetica, Arial, sans-serif;
  font-size: 11px; 
}

.signup-form h2 {
  padding-bottom: 20px;
}

.button-submit {
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #2dbe60;
  border: 0;
  border-radius: 4px;
  transition: .3s background ease-in-out;
}

// .btn-default  {
//   background-color: #28a956;
// }

.button-demo  {
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  padding: 18px 20px 17px;
}

.top-buffer {
  left: 0px;
  height: 140px;
}

.session-error-container  {
  padding-top: 20px;
}

.session-error  {
  padding-left: 8px;
  color: #ff415f;
}

.ALOTOFROOM {
  height: 10000px;
}

@keyframes heading-rotation-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0; }
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  100% {
    transform: translate3d(0, -80px, 0);
    opacity: 0; } }

@keyframes heading-rotation-last-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0; }
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  100% {
    opacity: 0; } }

.register .heading-rotation-container {
  position: relative; }
  .register .heading-rotation-container .rotator {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .register .heading-rotation-container .rotator.h1-like {
      font-size: 60px;
      line-height: 70px; }
      @media only screen and (max-width: 960px) {
        .register .heading-rotation-container .rotator.h1-like {
          font-size: 50px;
          line-height: 60px; } }
      @media only screen and (max-width: 600px) {
        .register .heading-rotation-container .rotator.h1-like {
          font-size: 30px;
          line-height: 40px; } }
    .dom-content-loaded .register .heading-rotation-container .rotator {
      display: flex;
      align-items: center;
      bottom: 0; }
    .dom-content-loaded .register .heading-rotation-container .rotator.heading-1 {
      animation: heading-rotation-animation 1.5s 0.5s; }
    .dom-content-loaded .register .heading-rotation-container .rotator.heading-2 {
      animation: heading-rotation-animation 1.5s 1.75s; }
    .dom-content-loaded .register .heading-rotation-container .rotator.heading-3 {
      animation: heading-rotation-last-animation 1.5s 3s; }


@keyframes heading1-rotation-animation {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
 }

.rotator.heading-4 {
  opacity:0;
  
  animation: heading1-rotation-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.signup-form-element .btn-default:hover  {
  background-color: #28a956;
  color: white;
}
