.jumbotron {
  background-color:transparent;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
}

.navbar {
  background-color:transparent;
  height: 100px;
  padding-top: 3%;
  border: none;
}

li  {
  list-style: none;
}

.logo {
  height: 35px;
}

.splash-row {
  padding-top: 80px;
}
