@font-face {
  font-family: caecilia;
  src: url("https://s3-us-west-1.amazonaws.com/neverblank/fonts/clight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

.signin-page  {
  display: flex;
  flex-direction: column;
}

.logoBar  {
  background-color: #2dbe60;
  height: 4px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.signin-logo {
  padding-top: 70px;
  height: 140px;
  margin-bottom:19px;
}

.signin-logo img  {
  display: block; /*for the img inside your div */
  margin: 0 auto;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

.signin-page h2 {
  text-align: center;
  font-family: caecilia, Times, serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  line-height: 32px;
  color: rgb(82, 82, 82);
  margin-top: -4px;
  margin-bottom: 14px;
  padding-bottom: 16px;
}

.signin-form  {
  border: 1px solid #dddddd;
  padding-top: 20px;
  width: 384px;
  margin: 0 auto;
  background: white;
}

.button-submit  {
  font-size: 16px;
  font-family: Gotham_SSm_5r, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 46px;
  margin: 0 auto;
}

.signin-form-element  {
  width: 320px;
  margin: 0 auto;
}

.sign-in-button-top {
  width: 320px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: Gotham_SSm_5r, helvetica, arial, sans-serif;
  font-size: 15px;
  color: #747474;
}

.sign-in-bottom-text  {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.sign-in-bottom-text a {
  transition: all .2s ease;
  font-family: Gotham_SSm_3r, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2dbe60;
  text-decoration: none;
}

.sign-in-bottom-text p{
  color: #747474;
  font-size: 11px;
  font-family: Gotham_SSm_3r, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.single-session-form .form-control {
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: Gotham_SSm_5r, helvetica, arial, sans-serif;
  font-size: 16px;
}

.single-session-form .or-row {
  width: 320px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.single-session-form .or-line {
  background-color: #ababab;
}
